:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color:rgba(0,0,0,0.2);
    --primary-color: rgba(255, 0, 86);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;

}

@function getAnimationDuration($duration: number){
        @return calc($duration * var(--animation-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 55px;
    background-color: var(--background-light);
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding:  .75em 1em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--primary-color);
    &:hover {
        box-shadow: 0 1px 3px var(var(--primary-color))
    }
}

.custom-image {
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@import "./partials/navbar.scss";


.section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    &.d-block {
        display: block;
    }
    .title {
        color: var(--text-color);
        font-size: 2.5em;
        margin-bottom: .25em;
       font-weight: 900;
    }
    .info {
        color: var(--text-light);
        font-size: 1em ;
        letter-spacing: 1px;
        line-height: 1.4;
        margin-bottom: 1.25em;

    }
    .col {
        width: 50%;
    }
}

@import './partials/_hero-section.scss';

@import './partials/improve-section.scss';

// Start Quote Section 

.section.quote {
    display: block;
    .qoute-text{
font-size: 1.2em;
line-height: 1.3;
color: var(--text-color);
  svg {
    color: var(--primary-color);
    font-size: 1.5em;
    margin-right: .5em;
  }
    }
    .qoute-author{
        color: var(--text-light);
        margin-top: 1em;
        text-align: right;
    }
}

// End Quote Section 

// Start Chiefs Section 
.section.chiefs{
    display: block;
}

.top-cheif-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1.5em;
    margin-top: 3em;
}
.chief-card{
    display: flex;
    height: 120px;
    background-color: var(--background-light);
    border-radius: 5px;
    overflow: hidden;
    img {
        height: 100%;
        width: 120px;
        border-radius: 5px;
        box-shadow: 0 3px 6px var(--shadow-color);
    }
    .chief-card-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-top: .5em;
        .chief-card-name{
            font-size: 1.2em;
            font-weight: bold;
            color: var(--text-color);
        }
        .chief-recipe-count, .chief-cusine {
            font-size: 1.2em;
            color: var(--text-light);
        }
        .cheif-icons {
            font-size: 1.2em;
            svg{
                margin-right: .5em;
                &:nth-child(1) {
                    color: #0063f7;
                }
                &:nth-child(2) {
                    color: #13b4ff;
                }
                &:nth-child(3) {
                    color: #ff0056;
                }
            }
        }
    }
}

// End Chiefs Section 



// *******  START Receipe CSS  ************

.previous-searches {
display: block;
h2 {
    color: var(--text-color);
    margin-bottom: .5em;
}
    .previous-searches-container{
        .search-item{
            background-color: var(--primary-color);
            display: inline-block;
            padding: .5em 1em;
            margin: 0 1em 1em 0;
            color: #fff;
            border-radius: 30px;
            box-shadow: 0 3px 6px var(--shadow-color);
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.5s) slideInRight forwards;
        }
    }
    .search-box{
        display: flex;
        height: 35px;
        align-items: center;
        justify-content: flex-endx;
        input, .btn{
            height: 35px;
        }
        input {
            min-width: 250px;
            padding: 0 0.5em;
            border-radius: 5px 0 0 5px;
            outline: none;
            border: 1px solid #4d4d4d;
        }
        .btn{
            padding-block: 0;
            padding-inline: .75em;
            border-radius: 0 5px 5px 0;
        }
    }
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1.5em;
}
.recipe-card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--shadow-color);
    .recipe-card-info{
        padding: 15px;
    }
    .custom-image{
        z-index: -1;
    }
    .author-img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 3px solid var(--background-light);
        box-shadow: 0 1px 3px var(--shadow-color);
        margin-top: -50px;
        z-index: 2;
    }
    .recipe-title{
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: .5em;
        margin-top: .25em;
        color: var(--text-color);
    }
    .recipe-desc{
        font-size: .9em;
        letter-spacing: 1px;
        color: var(--text-light);
    }
    .view-btn {
        display: inline-block;
        font-size: 1em;
        font-weight: bold;
        margin-top: .75em;
        color: var(--primary-color);

    }
}

// *******  End Receipe CSS  ************

// ***********  START SETTINGS SCSS  ************* 

.options-container {
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: 5px solid var(--primary-color);
    background-color: var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1em;
    .option {
        width: 3.5em;
        height: 3.5em;
        box-shadow: 0 3px 6px var(--shadow-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.light {
            background-color: #ffffff;
        }        
        &.dark {
            background-color: rgb(29, 29, 29);
        }
        .check {
            height: 2.5em;
            width: 2.5em;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px var(--shadow-color);
            svg {
                height: 1.5em;
                width: 1.5em;
            }
        }
    }
    .btn span {
        display: inline-block;
        margin-left: .5em;
    }
}
.d-block h2 {
font-size: 1.75em;
color: var(--text-color);
}

// ***********  END SETTINGS SCSS  ************* 



// Start Footer 
    .footer {
        background-color: #0f0f0f;
        color: #fff;
        padding-block: 3em;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-gap: 1em;
        .footer-section{
            p{
                opacity: .9;
                margin-bottom: .5em;
            }
            p.title{
                opacity: 1;
                font-size: 1.1em;
                font-weight: bold;
                margin-bottom: 1em;
            }
        }
    }
// End Footer
.main{
    padding-block: 3vw;
}

.container{
padding-inline: 25vw;
}


@import "./partials/_animations.scss";

// Responsive View Port

@media screen and (max-width: 1280px) {
    .container{
        padding-inline: 18vw;
        }
}


@media screen and (max-width: 1050px) {
    .container{
        padding-inline: 12vw;
        }
}

@media screen and (max-width: 768px) {
    .container{
        padding-inline: 6vw;
        }

    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }

    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    .skill-item{
        display: inline-block;
        margin: .75em;
    }
    .section.improve-skills .btn{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .chief-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .footer{
        grid-template-columns: repeat(4, 1fr);
        .footer-section:nth-child(1){
           grid-column: span 4;
        }
        .footer-section:nth-child(2),  .footer-section:nth-child(3) {
            grid-column: span 2;
        }
    }
   }


@media screen and (max-width: 480px) {
    .container{
        padding-inline: 3vw;
        }
}